!CfgFileCrc:6c22062e
!Software Version V800R013C00SPC560B560
!Last configuration was updated at 2026-07-29 17:01:31 UTC
!Last configuration was saved at 2026-07-29 17:16:15 UTC
!MKHash 0000000000000000
#
sysname SW2
#
undo info-center enable
#
device board 17 board-type CE-MPUB
device board 1 board-type CE-LPUE
#
aaa
 #
 authentication-scheme default
 #
 authorization-scheme default
 #
 accounting-scheme default
 #
 domain default
 #
 domain default_admin
#
interface MEth0/0/0
 undo shutdown
#
interface GE1/0/0
 shutdown
#
interface GE1/0/1
 undo portswitch
 undo shutdown
 ip address 10.0.23.3 255.255.255.0
#
interface GE1/0/2
 undo portswitch
 undo shutdown
 ip address 10.0.13.3 255.255.255.0
#
interface GE1/0/3
 shutdown
#
interface GE1/0/4
 shutdown
#
interface GE1/0/5
 shutdown
#
interface GE1/0/6
 shutdown
#
interface GE1/0/7
 shutdown
#
interface GE1/0/8
 shutdown
#
interface GE1/0/9
 shutdown
#
interface LoopBack0
 ip address 10.0.3.3 255.255.255.255
#
interface NULL0
#
ospf 1 router-id 10.0.3.3
 area 0.0.0.0
  network 10.0.3.3 0.0.0.0
  network 10.0.13.3 0.0.0.0
  network 10.0.23.3 0.0.0.0
#
ssh authorization-type default aaa
#
user-interface con 0
#
vm-manager
#
return
