!CfgFileCrc:b3bafee3
!Software Version V800R013C00SPC560B560
!Last configuration was updated at 2026-08-14 01:14:13 UTC
!Last configuration was saved at 2026-08-14 01:14:19 UTC
!MKHash 0000000000000000
#
sysname SW5
#
undo info-center enable
#
device board 17 board-type CE-MPUB
device board 1 board-type CE-LPUE
#
vlan batch 60 100 200
#
aaa
 local-user huawei password irreversible-cipher $1c$i11$1/1fJ2$4ZJ&9`Mn6Cbv_1!:@CG<3I9YO1K-4$TW-q!&}yfJ$
 local-user huawei service-type telnet
 local-user huawei level 3
 #
 authentication-scheme default
 #
 authorization-scheme default
 #
 accounting-scheme default
 #
 domain default
 #
 domain default_admin
#
interface Vlanif60
 ip address 192.168.60.1 255.255.255.0
#
interface Vlanif100
 ip address 192.168.10.1 255.255.255.0
#
interface Vlanif200
 ip address 192.168.20.1 255.255.255.0
#
interface MEth0/0/0
 undo shutdown
#
interface GE1/0/0
 undo portswitch
 undo shutdown
 ip address 192.168.30.1 255.255.255.0
#
interface GE1/0/1
 undo shutdown
 port default vlan 100
#
interface GE1/0/2
 undo shutdown
 port default vlan 200
#
interface GE1/0/3
 undo shutdown
 port default vlan 60
#
interface GE1/0/4
 undo portswitch
 undo shutdown
 ip address 192.168.200.10 255.255.255.0
#
interface GE1/0/5
 shutdown
#
interface GE1/0/6
 shutdown
#
interface GE1/0/7
 shutdown
#
interface GE1/0/8
 shutdown
#
interface GE1/0/9
 shutdown
#
interface NULL0
#
ospf 1 router-id 5.5.5.5
 area 0.0.0.0
  network 192.168.10.0 0.0.0.255
  network 192.168.20.0 0.0.0.255
  network 192.168.30.0 0.0.0.255
  network 192.168.60.0 0.0.0.255
#
ssh authorization-type default aaa
#
user-interface con 0
#
user-interface vty 0 4
 authentication-mode aaa
#
vm-manager
#
return
