!CfgFileCrc:a15a0d79
!Software Version V800R013C00SPC560B560
!Last configuration was updated at 2026-08-12 13:18:25 UTC by SYSTEM automatically
!Last configuration was saved at 2026-08-12 14:12:55 UTC
!MKHash 0000000000000000
#
sysname SW5
#
device board 17 board-type CE-MPUB
device board 1 board-type CE-LPUE
#
vlan batch 100 200
#
aaa
 #
 authentication-scheme default
 #
 authorization-scheme default
 #
 accounting-scheme default
 #
 domain default
 #
 domain default_admin
#
interface Vlanif100
 ip address 192.168.10.1 255.255.255.0
#
interface Vlanif200
 ip address 192.168.20.1 255.255.255.0
#
interface MEth0/0/0
 undo shutdown
#
interface GE1/0/0
 undo portswitch
 undo shutdown
 ip address 192.168.30.1 255.255.255.0
#
interface GE1/0/1
 undo shutdown
 port default vlan 100
#
interface GE1/0/2
 undo shutdown
 port default vlan 200
#
interface GE1/0/3
 shutdown
#
interface GE1/0/4
 shutdown
#
interface GE1/0/5
 shutdown
#
interface GE1/0/6
 shutdown
#
interface GE1/0/7
 shutdown
#
interface GE1/0/8
 shutdown
#
interface GE1/0/9
 shutdown
#
interface NULL0
#
ospf 1 router-id 5.5.5.5
 area 0.0.0.0
  network 192.168.10.0 0.0.0.255
  network 192.168.20.0 0.0.0.255
  network 192.168.30.0 0.0.0.255
#
ssh authorization-type default aaa
#
user-interface con 0
#
vm-manager
#
return
